:root{
   --colorPrincipal: rgb(246, 244, 244); 
   --colorSecundario: rgb(209, 206, 238);
   --colorBotones: rgb(170, 164, 225);
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   font-size: 62.5%;
   font-family: 'Times New Roman', Times, serif;
   background-color: var(--colorPrincipal);
}
header{
   height: 135px;
   width: 900px;
   margin: auto;
   text-align: center;
}
.header--img{
   float: left;
   height: 130px;
   width:185px ;
}
.header--img img{
   border-radius: 8px;
}
.header--tittle{
   float:left;
   height: 130px;
   width: 700px;
   text-align: center;
   padding: 30px;
}
.article--login{
   margin-top: 50px;
   margin: auto;
   text-align: center;
}
.article--login--img{
   margin-top: 50px;
}
.article--login--inputs{
   margin: auto;
   width: 300px;
}
.article--login--inputs input{
   display:block;
   height: 30px;
   border-radius: 8px;
   margin-top: 10px;
}
.article--login--inputs button{
   padding: 10px;
   margin-top: 10px;

}
.article--login--img img{
   border-radius: 100px;
}
/**************************/
.datos{
    display: none;
    margin-top:50px;
    color:var(--colorSecundario);
}
.datos--table{
    width: 100%;
    position: relative;
}
.datos table{
    border: 3px solid;
    margin:auto;
}
.datos th{
    border: 1px solid;
    width: 200px;
}

/*********************/
footer{
   width: 900px;
   height: 110px;
   margin: auto;
   color:var(--colorSecundario)
}
.footer--img{
   float: left;
}
.footer--img img{
   border-radius: 100px;
   width: 100px;
}
.footer--datospersonales{
   float:left;
   margin-top:25px;
   margin-left: 25px;
   color: var(--colorSecundario)
}
.footer--datosLaborales{
   float:right;
   margin-top:25px;
}